#header-box {
    background: url('https://i0.wp.com/calobeedoodles.com/wp-content/uploads/2012/08/zoo.png?resize=789%2C258');
    width: 100%;
    height: 43%;
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 10px;
}


#title {
    font-family: 'Vast Shadow', cursive;
    font-size: 70px;
    text-align: center;
    color: #423129;
    line-height: 60px;

}

#body-box {
    background-color: #BEE1CC;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45%;
    left: 0%;
    line-height: 10px;
}

#instructions-box {
    background-color: rgba(255, 255, 253, 0.5);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 45%;
    right: 50%;
    line-height: 10px;
}

#instructions-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    color: #FFFFFD;
    line-height: 60px;
}

#instructions {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #423129;
    line-height: 30px;
    margin: 5%;
}

#sheep-emoji{
    height: 30px;
    width: 30px;
}

#monkey-button {
    display: block;
    margin: auto;
}

#play {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #423129;
    line-height: 5px;
    margin: 5%;
}

#about-box {
    background-color: #BEE1CC;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    line-height: 10px;
}

#about-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    color: #423129;
    line-height: 60px;
}

#about {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #FFFFFD;
    line-height: 30px;
    margin: 5%;
}

#closing {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-align: right;
    color: #FFFFFD;
    line-height: 15px;
    margin: 5%;
}

#signature {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-align: right;
    color: #FFFFFD;
    line-height: 15px;
    margin: 5%;
}